GEMINI_API_KEY=''

GOOGLE_API_KEY=''
LANGSMITH_TRACING=true
LANGCHAIN_TRACING_V2=true

LANGSMITH_ENDPOINT=''
LANGSMITH_API_KEY=''
LANGSMITH_PROJECT=''

TAVILY_API_KEY=''
OPENROUTER_API_KEY=''
